.navbar a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}

.navbar a:hover {
    color: rgb(124, 48, 64);
}

.top-section {
    background-color: #c0adb2; 
    padding: 20px 0;
    text-align: center;
}

#main-content {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.left-column {
    flex: 1;
    width: 50%;
}

.right-column {
    flex: 2;
    width: 50%;
    padding-left: 30px;
}

.profile-img {
    width: 200x;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    color: #5E503F;
}

.job-title {
    color: rgb(78, 44, 52);
    font-style: italic;
}

.contact {
    background-color: #c0adb2;
    padding: 10px;
    border-radius: 8px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
    border-radius: 4px;
}

.contact li {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

.contact li:hover {
    color: rgb(124, 48, 64);
}

.contact a {
    background-color: #c0adb2;
    color: #5E503F;
}

.skills {
    background-color: #c0adb2;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

.languages {
    background-color: #c0adb2;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.languages ul {
    list-style-type: none;
    padding: 0;
}

.languages li {
    background-color: #ffffff;
    margin: 5px 0;
    padding: 5px;
    border-radius: 4px;
}

#about p {
    line-height: 1.6;
    text-align: justify;
    margin-top: 10px;
}

.message-form input[type="text"], 
.message-form input[type="email"] {
    width: 90%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.message-form input[type="submit"] {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #947476;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.message-form input[type="submit"]:hover {
    background-color: #ebc4d0;
}

footer {
    text-align: center;
    background-color: #c0adb2;
    color: rgb(7, 5, 5);
    padding: 10px;
}

#themeBtn {
    display: block;
    margin: 20px auto;
}

.navbar {
    text-align: center;
    color: black;
}

.navbar h2 {
    margin: 0;
}

#greetingMessage {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}


.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .contact,
.dark-mode .skills,
.dark-mode .languages {

    background-color: #c0adb2;      
    color: white;               
}

.dark-mode .contact li,
.dark-mode .skills li,
.dark-mode .languages li {
    background-color: #000000;        
    color: white;                 
}

.dark-mode h3 {
    color: #000000;
}

.dark-mode .name,
.dark-mode .job-title {
    color: #ffffff;
}